src/main/mule/prc-book-my-holiday.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="prc-book-my-holiday-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="prc-book-my-holiday-config" api="prc-book-my-holiday.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="prc-book-my-holiday-main">
        <http:listener config-ref="prc-book-my-holiday-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="prc-book-my-holiday-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="prc-book-my-holiday-console">
        <http:listener config-ref="prc-book-my-holiday-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="prc-book-my-holiday-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\booking-details\(booking-id):prc-book-my-holiday-config">
		<flow-ref doc:name="cancelBooking" doc:id="409b5511-6238-423f-89ec-c71f8d811cff" name="deleteBookingByID"/>
    </flow>
    <flow name="get:\bookhotel:prc-book-my-holiday-config">
		<flow-ref doc:name="Flow Reference" doc:id="dc73f1c2-4b7d-482f-8a16-9f568da3b0bf" name="bookHotel"/>
    </flow>
    <flow name="get:\cabs:prc-book-my-holiday-config">
		<flow-ref doc:name="Flow Reference" doc:id="2913e7ab-797d-4494-982c-69a1a6435c46" name="getCabs"/>
    </flow>
    <flow name="get:\flights:prc-book-my-holiday-config">
		<flow-ref doc:name="Flow Reference" doc:id="49e55102-a0a0-47ee-936d-cf158e2a4db3" name="getFlights"/>
    </flow>
    <flow name="get:\hotels:prc-book-my-holiday-config">
		<flow-ref doc:name="Flow Reference" doc:id="c6fac162-82a1-4985-8049-e194f6492c33" name="getHotels"/>
    </flow>
    <flow name="get:\booking-details\(booking-id):prc-book-my-holiday-config">
		<flow-ref doc:name="Flow Reference" doc:id="371d5ac0-9b72-4124-8626-886d1316d0a3" name="getBookingByID"/>
    </flow>
    <flow name="get:\bookedCabDetails\(bookingId):prc-book-my-holiday-config">
		<flow-ref doc:name="Flow Reference" doc:id="d9453b73-e4ea-4653-a1d8-ae30ffc05212" name="getCabByBookingID"/>
    </flow>
    <flow name="post:\book-flights:application\json:prc-book-my-holiday-config">
		<flow-ref doc:name="Flow Reference" doc:id="02376abd-37da-4dd9-9aa3-d4015c8c8090" name="createFlight"/>
    </flow>
    <flow name="post:\bookCab:application\json:prc-book-my-holiday-config">
		<flow-ref doc:name="Flow Reference" doc:id="3a794f70-c1fa-484f-bb6d-37ff64c8aeb5" name="bookCab"/>
    </flow>
</mule>
